*{
    padding: 0;
    margin: 0;
}

.tranmyuyen{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("/assets/images/hinh-anh-chibi-tinh-yeu.jpg");
    background-size: cover;

    /* position: relative; */
}

.text{
    /* margin-left: 40%; */
    margin-top: 10%;
    text-transform: uppercase;
}

.btn{
    text-align: center;
    /* margin-left: 40%; */
    margin-top: 10%;
    display: flex;
    /* width: 100%; */
    justify-content: space-around;

}

.btn button{
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background-image: url("/assets/images/hinh-anh-bong-hoa-dep_024513073-1.jpg");
    background-size: cover;
    
    cursor: pointer;
    margin-right: 10%;
    color: blue;

    font-weight: bold;
    font-size: 30px;
}

.btn button:hover{
    color: #fff;
    background-color: pink;
}

